<h2>Want to add a song</h2>

<form action="/{{id}}?_method=put" method="post">
     <p>
        <label for="songs">Add a song</label>
        <input type="text" value="{{songs}}" name="songs">
    </p>
        <input type="submit" value="Add Song">


</form>