<h1>Released a new album? Update it!</h1>

<form action="/{{id}}?_method=put" method="post">
     <p>
        <label for="recentAlbum">Album name: </label>
        <input type="text" name="recentAlbum">
    </p>
        <input type="submit" value="Update Album">


</form>