<h1>Want to add a song</h1>

<form action="/{{id}}?_method=put" method="post">
     <p>
        <label for="songs">Add a song</label>
        <input type="text" name="songs">
    </p>
        <input type="submit" value="Add Song">


</form>