<h2>Add a new artist</h2>

<form action="/" method="post">

<p>
    <label for="name">Name</label>
    <input type="text" name="name" >
</p>
<p>
    <label for="age">Age</label>
    <input type="number" name="age" >
</p>
<p>
    <label for="location">Location</label>
    <input type="text" name="location" >
</p>
<p>
    <label for="dob">Born: </label>
    <input type="text" name="dob" placeholder="MM-DD-YYY" >
</p>
<p>
    <label for="songs">Songs: </label>
    <input type="text" name="songs" placeholder="MM-DD-YYY" >
</p>
<input type="submit" value="Create">

</form>

